.form-field {
  margin-bottom: 10px;
  position: relative;
}

body {
  margin: 0;
  background: rgb(45, 211, 111);
}

.see-password-img {
  cursor: pointer;
  margin-top: 24px;
  margin-right: 8px;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.loading {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.loading label {
  font-size: 24px;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

input, button {
  padding: 10px;
  width: -webkit-fill-available;
}

button {
  cursor: pointer;
  margin-bottom: 10px;
}

button:active {
  opacity: 0.8;
}

button.fab {
  width: 54px;
  height: 54px;
  border-radius: 50px;
  border: none;
  font-size: 24px;
  box-shadow: 2px 2px 2px #808080;
}

button.fab.fixed {
  position: fixed;
}

button.fab.bottom {
  bottom: 32px;
}

button.fab.right {
  right: 32px;
}

.clear {
  background: transparent;
  border: none;
  color: white;
}
.clear:disabled {
  background: transparent;
  border: none;
  color: rgb(15, 116, 55);
  cursor: not-allowed;
  opacity: 0.5;
}

.solid {
  background: transparent;
  border: none;
  color: white;
}

.solid:disabled {
  background: transparent;
  border: none;
  color: rgb(15, 116, 55);
  cursor: not-allowed;
  opacity: 0.5;
}

.outline {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.error {
  color: red;
  display: none;
  font-weight: bold;
}