body {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: rgb(45, 211, 111);
    height: 100vh;
  }
  
  form {
    width: 300px;
  }
  
  input {
    border: none;
  }